.vacancies {
    padding-top: 64px;
    padding-bottom: 104px;

    &__header {}

    &__title {
        color: rgb(19, 19, 19);
        font-size: 48px;
        font-weight: 500;
        text-align: left;
    }

    &__filter {
        margin-top: 40px;
        display: flex;
        gap: 32px;

        &-items {
            display: flex;
            gap: 16px;
            
        }

        &-item {
            display: flex;
            flex-direction: column;
        }

        &-button {
            border: 0;
            border-radius: 4px;
            /* blue */
            background: rgb(13, 122, 217);
            padding: 8px 32px 8px 32px;

            color: rgb(255, 255, 255);
            font-family: Roboto;
            font-size: 15px;
            font-weight: 700;
            line-height: 140%;
            letter-spacing: 2%;
            text-align: center;
        }
    }
}

.select-filter::-ms-expand {
    display: none; 
}

.select-filter {

    appearance: none;

    outline: none;

    box-sizing: border-box;
    /* grey400 */
    border: 1px solid rgb(205, 210, 215);
    border-radius: 4px;

    /* white */
    background: rgb(255, 255, 255);
   
    padding: 4px 12px 4px 12px;

    cursor: pointer;

    &__label {
        /* desktop/bodyS */
        /* desktop/bodyXSbold */
        color: rgb(19, 19, 19);
        //font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        // line-height: 125%;
        // letter-spacing: 0%;
        text-align: left;
    }

    //                 <<<--- ПЕРЕПРОВЕРИТЬ ВСЕ ЭТО СРОЧНО СВЕРХУ -->>>
    &__item {
        /* desktop/bodyS */
        color: rgb(19, 19, 19);
        font-family: Roboto;
        font-size: 14px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;

        &_unselected {
            color: rgb(172, 179, 185);
        }
    }
}