.footer {

    // position: sticky;
    // bottom: 0;
    /* grey900 */
    //width: 100vw;


    //transform: translateX(-10%);
    //margin: auto 0;
    background: rgb(56, 56, 56);

    padding: 40px 120px;
    //width: 100%;

    color: rgb(255, 255, 255);
    //font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 145%;
    letter-spacing: 0%;
    text-align: left;

    //margin-left: -14%;

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
    }
}